<div style="background-color: green;" class=" d-flex align-content-center justify-content-between flex-row">
    <h3 class="text-white">
         Create Project
    </h3>
</div>

<div class="container-fluid" >

    <h5 class="text-success m-4">{{ response }}</h5>
    <form #createprojectForm="ngForm" (ngSubmit)=oncreateSubmit()>
        <div class="form_group" >
            <label>
        Project Name
      </label>
            <input required type="text" pattern="^[A-Za-z]{5,}$" [class.is-invalid]="projectname.invalid && projectname.touched" name="projectname" class="form-control" #projectname='ngModel' [(ngModel)]='createproj.projname'>
            <div *ngIf="projectname.errors && (projectname.invalid && projectname.touched)">
                <small *ngIf="projectname.errors.pattern" class="text-danger">invalid input</small>
                <small *ngIf="projectname.errors.required" class="text-danger">Project Name is required</small>
            </div>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [class.is-invalid]="email.invalid && email.touched" #email='ngModel' name="email"
              class="form-control" [(ngModel)]='createproj.email' >
              <div *ngIf="email.errors && (email.invalid || email.untouched)">
              <small [class.d-none]="email.valid || email.untouched" class="text-danger">Email is required</small>
              <small class="text-danger" *ngIf="email.errors.pattern">Email must be valid</small>
              </div>
      </div>
        <div class="form_group">
            <label>
            Fullname
          </label>
            <input type="text" required name="fullname" class="form-control" [class.is-invalid]="fullname.invalid && fullname.touched" #fullname='ngModel' [(ngModel)]='createproj.fullname'>
            <div *ngIf="fullname.errors && (fullname.invalid && fullname.touched)">
               
                <small *ngIf="fullname.errors.required" class="text-danger">Your Fullname field is required</small>
            </div>
        </div>
        <br>
        <button class="btn btn-secondary" type="submit">New Project</button>
    </form>
</div>